@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.AboutUsPageHero {

    &_wrapper {
        @include company-name;
        color: $second-black-color;
    }

    &_title {
        @include background-default;
        @include flex-style;
        align-items: center;
        justify-content: center;
        background: url(../../../../../public/About_Us/bg-image.svg);
        background-size: 100%;
        height: 180px;

        &_text {
            @include size-60;
            color: $second-black-color;
            text-align: center;
        }
    }
}