// colors
$white-color: #FFFFFF;
$black-color: #000000;
$green-color: green;
$second-black-color: #2B2A29;
$large-text-color: #000000;
$middle-text-color: #292929;
$small-text-color: #8C8C8C;
$hover-text-color: #F5F5F580;
$border-color: #E2E5E9;
$blue-color: #0B51BE;
$second-blue-color: #16ACE0;

$advantage-card-border: #EDEDED;


// transition
$transition: 0.3s ease-in-out;


// backgrounds

$navbar-hover-background: #FFFFFF1A;
$subtitle-background: #05305D;
$gradient-background: linear-gradient(90deg, #003EA5 0%, #2782FF 100%);
$gray-background: #ededed;
$white-background: #FAFAFA;

// text sizes