@import '../.././../../styles//mixins.scss';
@import '../.././../../styles//variables.scss';

.AboutUsPageNews {
    margin: 50px 0;

    &_header {
        margin-bottom: 20px;

        &_title {
            @include size-48;
            color: $second-black-color;
        }

        &_description {
            margin-top: 20px;
            @include size-18;
            color: $small-text-color;
            font-weight: 400;
        }
    }


}