@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';


.button{
    @include font-600;
    color: $white-color;
    padding: 18px 42px;
    border-radius: 74px;
    background-color: $blue-color;
}